#cartItems{
    padding:0;
    margin:0;
}

#cartItems .card{
    background:#fff;
    border-radius:0;
    box-shadow:none;
    border-bottom:1px solid #ddd;
    padding:12px 0;
    margin:0;
    text-align:center;
}

#cartItems .card h3{
    margin:0;
    font-size:18px;
}

#cartItems .card p{
    margin:2px 0 0 0;
    font-size:16px;
}

#total{
    margin:10px 0 0 0;
    padding-left:0;
    font-size:20px;
    font-weight:bold;
}
