*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:80px;
    background:#2196f3;
    color:white;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 20px;
    background:white;
    color:#2196f3;
    text-decoration:none;
    border-radius:5px;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:30px;
}

.card{
    background:white;
    padding:15px;
    margin:0;
    border-radius:0;
    box-shadow:none;
    border-bottom:1px solid #ddd;
    text-align:center;
}

.card img{
    width:200px;
    height:200px;
    object-fit:contain;
    margin-bottom:10px;
}

button{
    padding:10px 20px;
    margin-top:10px;
    background:#2196f3;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1976d2;
}

footer{
    text-align:center;
    padding:20px;
    background:#222;
    color:white;
    margin-top:50px;
}

/* ---------- CART PAGE ---------- */

#cartItems{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:0;
}

#cartItems .card{
    width:100%;
    padding:20px;
}

#total{
    font-size:35px;
    font-weight:bold;
    margin: 10px 20px;
}
